In [39]:
import psycopg2
import requests
import json
import time
from psycopg2.extras import Json
import pandas as pd
import numpy as np

In [40]:
conn = psycopg2.connect("dbname=postgres user=postgres host=localhost port=5432 password=123456")

In [41]:
base_url = 'https://api.hh.ru/vacancies'
params = {
    "text": "NAME:Аналитик",
    # "search_field":[ "exprerience", "schedule"], 
    "exprerience":"noExperience",
    "schedule": 'remote',
    "period": 3,
    "per_page": 100
}

In [42]:
r = requests.get(base_url, params=params)

In [43]:
j = json.loads(r.content)

In [44]:
j['found']

1056

In [45]:
j['items'][4]

{'id': '106670791',
 'premium': False,
 'name': 'Младший аналитик / ресечер (удаленно)',
 'department': None,
 'has_test': False,
 'response_letter_required': False,
 'area': {'id': '1', 'name': 'Москва', 'url': 'https://api.hh.ru/areas/1'},
 'salary': None,
 'type': {'id': 'open', 'name': 'Открытая'},
 'address': {'city': 'Москва',
  'street': 'Бакунинская улица',
  'building': '73с2',
  'lat': 55.780228,
  'lng': 37.692097,
  'description': None,
  'raw': 'Москва, Бакунинская улица, 73с2',
  'metro': {'station_name': 'Электрозаводская',
   'line_name': 'Арбатско-Покровская',
   'station_id': '3.161',
   'line_id': '3',
   'lat': 55.782057,
   'lng': 37.7053},
  'metro_stations': [{'station_name': 'Электрозаводская',
    'line_name': 'Арбатско-Покровская',
    'station_id': '3.161',
    'line_id': '3',
    'lat': 55.782057,
    'lng': 37.7053}],
  'id': '13056378'},
 'response_url': None,
 'sort_point_distance': None,
 'published_at': '2024-09-02T18:15:45+0300',
 'created_at': '2024-09-02T18:15:45+0300',
 'archived': False,
 'apply_alternate_url': 'https://hh.ru/applicant/vacancy_response?vacancyId=106670791',
 'show_logo_in_search': None,
 'insider_interview': None,
 'url': 'https://api.hh.ru/vacancies/106670791?host=hh.ru',
 'alternate_url': 'https://hh.ru/vacancy/106670791',
 'relations': [],
 'employer': {'id': '3805596',
  'name': 'Dau Relationship Marketing',
  'url': 'https://api.hh.ru/employers/3805596',
  'alternate_url': 'https://hh.ru/employer/3805596',
  'logo_urls': {'90': 'https://img.hhcdn.ru/employer-logo/6875966.png',
   'original': 'https://img.hhcdn.ru/employer-logo-original/1313927.png',
   '240': 'https://img.hhcdn.ru/employer-logo/6875967.png'},
  'vacancies_url': 'https://api.hh.ru/vacancies?employer_id=3805596',
  'accredited_it_employer': False,
  'trusted': True},
 'snippet': {'requirement': 'Продуктивность и обучаемость. Будет очень много новой информации и новых знаний. Нужно быстро учиться и тут же применять знания на...',
  'responsibility': 'Разрабатываем и внедряем стратегии CRM-маркетинга. Планируем и реализуем рекламные кампании. Разрабатываем и запускаем программы лояльности. Используем данные, чтобы проводить...'},
 'contacts': None,
 'schedule': {'id': 'remote', 'name': 'Удаленная работа'},
 'working_days': [],
 'working_time_intervals': [],
 'working_time_modes': [],
 'accept_temporary': True,
 'professional_roles': [{'id': '10', 'name': 'Аналитик'}],
 'accept_incomplete_resumes': True,
 'experience': {'id': 'noExperience', 'name': 'Нет опыта'},
 'employment': {'id': 'full', 'name': 'Полная занятость'},
 'adv_response_url': None,
 'is_adv_vacancy': False,
 'adv_context': None}

cur = conn.cursor()
conn.commit()
cur.execute('create table analyst (id int, name text, area text, salary_from, salary_to, schedule text);')
cur.close()

In [46]:
vac = j['items'][1]

In [47]:
vac['schedule']

{'id': 'remote', 'name': 'Удаленная работа'}

In [48]:
conn.commit()

In [49]:
def maybe_(schedule):
    try:
        if schedule:
            return schedule.get('id')
        else:
            return None
    except:
        return ''

In [50]:
def get_area(area):
    if area:
        return area['name']
    return None

In [51]:
def salary_from(salary):
    try:
        if salary:
            return salary['from']
        return None
    except:
        return None

In [52]:
def salary_to(salary):
    try:
        if salary:
            return salary['to']
        return None
    except:
        return None

In [53]:
def insert_vacancy(vac):
    cur = conn.cursor()
    cur.execute("insert into analyst values (%s, %s, %s, %s, %s, %s)",
                (vac['id'], vac['name'],
                 get_area(vac['area']),
                 salary_from(vac['salary']),
                 salary_to(vac['salary']),
                 maybe_(vac['schedule'])))
    conn.commit()
    cur.close()

In [54]:
def save_vacancy(page=0):
    print('Downloading page', page)
    r = requests.get(base_url, params=dict(params, page=page))
    time.sleep(1)
    result = json.loads(r.content)
    for v in result['items']:
        insert_vacancy(v)
    if len(result['items']) == 0:
        return
    else:
        save_vacancy(page + 1)

In [55]:
save_vacancy()

Downloading page 0
Downloading page 1
Downloading page 2
Downloading page 3
Downloading page 4
Downloading page 5
Downloading page 6
Downloading page 7
Downloading page 8
Downloading page 9
Downloading page 10
Downloading page 11

In [56]:
cur = conn.cursor()
cur.execute("select id, name, salary_from, salary_to, schedule from analyst limit 20;")
vacs = cur.fetchall()

In [57]:
vacs

[(106662573, 'Аналитик-стажер / Junior Analyst', 65000, None, 'remote'),
 (106707476, 'Координатор-аналитик базы данных', None, 75000, 'remote'),
 (106692739, 'Бизнес-аналитик (стажер)', 60000, 70000, 'remote'),
 (106469611, 'Младший аналитик', None, 75000, 'remote'),
 (106670791, 'Младший аналитик / ресечер (удаленно)', None, None, 'remote'),
 (106694474, 'Системный аналитик Junior', 70000, None, 'remote'),
 (106650793, 'Аналитик баз данных', 75000, None, 'remote'),
 (104461044, 'Младший аналитик данных', 10000, 45000, 'remote'),
 (106501312, 'Ассистент в отдел аналитики', 90000, 120000, 'remote'),
 (106558411, 'Аналитик данных (Python, Pandas, SQL)', 60000, None, 'remote'),
 (106655951, 'Data Analyst', None, None, 'remote'),
 (106722270, 'Продуктовый аналитик в команду каталога', None, None, 'remote'),
 (106632637, 'Junior Data Analyst', None, None, 'remote'),
 (106100439, 'Менеджер – аналитик маркетплейса OZON', 100000, None, 'remote'),
 (106691744, 'Аналитик данных', None, None, 'remote'),
 (106596692,
  'Аналитик по оптимизации бизнес процессов - операционный интегратор',
  70000,
  140000,
  'remote'),
 (106650167,
  'Аналитик (количественные исследования)',
  15000,
  150000,
  'remote'),
 (106551703,
  'Бизнес-ассистент/Аналитик Акционера Компании',
  200000,
  300000,
  'remote'),
 (106489547, 'Data аналитик', None, None, 'remote'),
 (106499470, 'Junior системный аналитик', None, 110000, 'remote')]

In [58]:
#######################

In [61]:
an2 = pd.DataFrame(vacs)

In [62]:
an2.to_csv('analysts_hh_0310.csv', index=False)

In [64]:
an2.head(30)

,0,1,2,3,4
0,106662573,Аналитик-стажер / Junior Analyst,65000.0,NaN,remote
1,106707476,Координатор-аналитик базы данных,NaN,75000.0,remote
2,106692739,Бизнес-аналитик (стажер),60000.0,70000.0,remote
3,106469611,Младший аналитик,NaN,75000.0,remote
4,106670791,Младший аналитик / ресечер (удаленно),NaN,NaN,remote
5,106694474,Системный аналитик Junior,70000.0,NaN,remote
6,106650793,Аналитик баз данных,75000.0,NaN,remote
7,104461044,Младший аналитик данных,10000.0,45000.0,remote
8,106501312,Ассистент в отдел аналитики,90000.0,120000.0,remote
9,106558411,"Аналитик данных (Python, Pandas, SQL)",60000.0,NaN,remote
10,106655951,Data Analyst,NaN,NaN,remote
11,106722270,Продуктовый аналитик в команду каталога,NaN,NaN,remote
12,106632637,Junior Data Analyst,NaN,NaN,remote
13,106100439,Менеджер – аналитик маркетплейса OZON,100000.0,NaN,remote
14,106691744,Аналитик данных,NaN,NaN,remote
15,106596692,Аналитик по оптимизации бизнес процессов - опе...,70000.0,140000.0,remote
16,106650167,Аналитик (количественные исследования),15000.0,150000.0,remote
17,106551703,Бизнес-ассистент/Аналитик Акционера Компании,200000.0,300000.0,remote
18,106489547,Data аналитик,NaN,NaN,remote
19,106499470,Junior системный аналитик,NaN,110000.0,remote